      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">    
            <a href="#">{{food.name}}</a>  
        </h4>
        <h5>${{food.price}}</h5>
      <p class="card-text"> 
        description : {{food.description}} 
      </p>
      <p class="card-text"> 
        quantity : {{food.quantity}} 
      </p>
      
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <button (click)="sendNotifIncrementLike()"  class="btn btn-success">like  {{food.like}}</button>
          <button (click)="buy()" class="btn btn-secondary">buy</button>
          <button (click)="deleteFood()"class="btn btn-danger">delete</button>
        </small>
      </div>
  
