      
  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">    
            <a href="#">{{food.name}}</a>  
        </h4>
        
        <p class="card-text"> 
          Type : {{food.type}} 
        </p>
      <p class="card-text"> 
        Description : {{food.description}} 
      </p>
      <p class="card-text"> 
        Country : {{food.country}} 
      </p>
      
      <p class="card-text"> 
        Quantity : {{food.quantity}} 
      </p>
      <h5>${{food.price}}</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <a id="thumbsUp" (click)="sendNotifIncrementLike()"><fa-icon [icon]="FathumbsUp" ></fa-icon> {{food.like}}</a>
          <a id="shoppingbasket" (click)="buy()"><fa-icon [icon]="shoppingbasket" ></fa-icon></a>
          <a id="edit" *ngIf="isAuth" [routerLink]=" ['edit',food.id] "><fa-icon [icon]="edit" ></fa-icon></a>
          <a id="delete"*ngIf="isAuth" (click)="deleteFood()"><fa-icon [icon]="delete" ></fa-icon></a>
        </small>
      </div>
  
