<h1 class="my-4" id="brand">Discovery Food</h1>
<h5 class="card-title">Price range</h5>
	<label for="range">MIN : {{rangeValueMin}}</label>	
  <input type="range" class="custom-range" min="0" max="100" name="range" [(ngModel)]="rangeValueMin">
  <label for="range">MAX : {{rangeValuemax}}</label>	
  <input type="range" class="custom-range" min="{{rangeValueMin}}" max="100" name="range" [(ngModel)]="rangeValuemax">


<section>

  <h5 class="card-title">Type</h5>

  <div class="form-check">
    <input type="checkbox" class="form-check-input filled-in" id="breakfast">
    <label class="form-check-label small text-uppercase card-link-secondary" for="breakfast">breakfast</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input filled-in" id="lunch">
    <label class="form-check-label small text-uppercase card-link-secondary" for="lunch">lunch</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input filled-in" id="dinner">
    <label class="form-check-label small text-uppercase card-link-secondary" for="dinner">dinner</label>
  </div>
</section>

<h5 class="card-title">Countries</h5>
<a href="#"><img src="assets/images/germany.PNG" alt="germanFood" height="50px" width="50px"></a>&nbsp;
<a href="#"><img src="assets/images/polish.PNG" alt="polishFood" height="50px" width="50px"></a>&nbsp;
<a href="#"><img src="assets/images/france.PNG" alt="frenshFood" height="50px" width="50px"></a>&nbsp;
<a href="#"><img src="assets/images/italy.PNG" alt="italianFood" height="50px" width="50px"></a>&nbsp;
<a href="#"><img src="assets/images/japan.PNG" alt="japaneseFood" height="50px" width="50px"></a>&nbsp;
<a href="#"><img src="assets/images/spain.PNG" alt="spanishFood" height="50px" width="50px"></a>&nbsp;



<br>
<br>

<button class="btn btn-block btn-primary">Apply</button>
