<div class="container">
  <div class="container" >
    <div id="content">
      <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Type</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>

          <tbody *ngFor="let food of foods;let i=index">
          <tr>
            <th scope="row">{{food.id}}</th>
            <td>{{food.name}}</td>
            <td>{{food.price}}</td>
            <td>{{food.type}}</td>
            <td>{{food.quantity}}</td>
            <td>{{ food.price * food.quantity }}</td>
            <td id="btnRemove"><button (click)="removeFromShop(i)"class="btn btn-danger">Remove</button></td>
        <!--  <tr *ngFor="let product of products;let i=index">
             <app-single-shop-cart [product]="product"
            [position]=i
            >
          </app-single-shop-cart>
        -->  
        </tr>
            
          </tbody>

         


        </table>
        <h2>Total Price = {{totalPrice}} DT</h2>
      </div>
        <button (click)="downloadPdf()" class="btn btn-primary">Finish and Download PDF</button>
      </div>

</div>
