

<h1 id="brand">discoveryFood</h1>

<section id="gtco-team" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <h2>
                    Our Team
                </h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src="assets/images/chef-1.jpg" alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Aaron Patel</h4>
                            <p class="mb-1">CEO</p>
                            <img class="mb-1" src="assets/images/germany.PNG" alt="germanFood" height="40px" width="50px">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src="assets/images/chef-2.jpg" alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Daniel Tebas</h4>
                            <p class="mb-1">Chef</p>
                            <img class="mb-1" src="assets/images/france.PNG" alt="germanFood" height="40px" width="50px">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src="assets/images/chef-3.jpg" alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Jon Snow</h4>
                            <p class="mb-1">Chef</p>
                            <img class="mb-1" src="assets/images/russia.PNG" alt="germanFood" height="40px" width="50px">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src="assets/images/chef-4.jpg" alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Kim Jong</h4>
                            <p class="mb-1">Chef</p>
                            <img class="mb-1" src="assets/images/japan.PNG" alt="germanFood" height="40px" width="50px">
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


