<h1>{{actionName}} Food</h1>
<form #f="ngForm">
    <div class="form-group">
        <label>Name :</label>
        <input type="text" name="title" class="form-control" #n="ngModel" [(ngModel)]="food.name" required>
    </div>

    <div class="alert alert-danger"*ngIf="n.touched && n.invalid">
         <div *ngIf="n.errors.required">*Name is required ! </div>
    </div>



    <div class="form-group">
        <label>Type : </label>
    
            <select name="type" [(ngModel)]="food.type" class="form-control" #t="ngModel" required>
                <option value=""></option>
                <option value="breakfast">breakfast</option>
                <option value="lunch">lunch</option>
                <option value="dinner">dinner</option>
            </select>
        </div>
    
        <div class="alert alert-danger" *ngIf="t.touched && t.invalid">
            *Position is required !
        </div>

        

        <div class="form-group">
            <label for="description">Description : </label>
            <textarea name="description" id="description" cols="30" rows="5" [(ngModel)]="food.description" class="form-control"></textarea>
        </div>






  









        <div class="form-group">
            <label>Price :</label>
            <input type="number" name="price" #p="ngModel" [(ngModel)]="food.price" class="form-control" required >
        </div>
        
            <div class="alert alert-danger" *ngIf="p.touched && p.invalid">*Price is required ! </div>
            <div class="alert alert-danger" *ngIf="p.value<0" >*Price > 0</div>




            <div class="form-group">
                <label>Country : </label>
            
                    <select name="country" [(ngModel)]="food.country" class="form-control" #c="ngModel" required>
                        <option value=""></option>
                        <option value="france">france</option>
                        <option value="spain">spain</option>
                        <option value="poland">poland</option>
                        <option value="germany">germany</option>
                        <option value="italy">italy</option>
                        <option value="japan">japan</option>
                    </select>
                </div>
            
                <div class="alert alert-danger" *ngIf="c.touched && c.invalid">
                    *Country is required!
                </div>

                <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="image" (change)="onFileSelected($event)">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
                </div>
                







                <div class="form-group">
                    <label>Delivery : </label>
                
                        <select name="livraison" [(ngModel)]="food.livraison" class="form-control" #l="ngModel" required>
                            <option value=""></option>
                            <option value="true">Available</option>
                            <option value="false">Unavailable</option>
                        </select>
                    </div>
                
                    <div class="alert alert-danger" *ngIf="l.touched && l.invalid">
                        *Delivery is required!
                    </div>
               


    <button (click)="addFood()"class="btn btn-success"[disabled]="f.invalid || p.value<0">save</button>
</form>