 <!-- Page Content -->


    <div class="row">

      <div class="col-lg-3">

        <app-side-bar></app-side-bar>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <app-carousel></app-carousel>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let food of foods| paginate: { itemsPerPage: 3, currentPage: p };let i=index">
                <div class="card h-100">
                
            <app-single-card [food]="food"
            [position]=i  (notifdelete)="deleteFood($event)" (notifLike)="incrementLike($event)">
          </app-single-card>
                </div>
            </div>
            
        
        </div>


        
        <!-- /.row -->
        <div style="text-align: center;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
     