 <!-- Page Content -->
 <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <app-side-bar></app-side-bar>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <app-carousel></app-carousel>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products| paginate: { itemsPerPage: 6, currentPage: p };let i=index">
                <div class="card h-100">
                
            <app-single-card [product]="product"
            [position]=i>
          </app-single-card>
                </div>
            </div>
            
        
        </div>


        
        <!-- /.row -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <!-- /.col-lg-9 -->